body{
  margin: 0;
  padding: 0;
}
.area{
  float: right;
  margin-right: 5%;
}
.reloj{
  width: 10%;
  height: 10%;
  margin-right:10px;

}
.icon{
  width: 150px;
  height: 70px;
  margin-top: 10px;
  margin-left: 6%;
}
.pri-info{
  margin-right: 8%;
  font-size: 12px;
  text-align: right;
  color: #a7a7a7;
}
.sec-info{
  color: #131313;
  margin-right: 15px;
  font-family: 'Open Sans Condensed',sans-serif;
  font-size: 14px;
}
.agen{
  border-color: #a7a7a7;
  color: #bfd000;
  font-weight: 600;
  height: 35px;
  margin-top: 5px;
  padding-top: 5px;
}
.agen:hover{
  background-color: #bfd000;
  color: #fff;
  border-color: #bfd000;
}
.nav{
  background: #ffb3b3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #ff1085,#ff4b37,#e5920a );  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #ff1085,#ff4b37,#e5920a ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
ul li .nav-link{
  color:#ffffff;
  font-family: 'Open Sans Condensed',sans-serif;
  font-weight: 600;
  font-size: 22px;
}
.dropdown-menu{
  background: #ffb3b3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ff1085,#ff4b37,#e5920a );  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ff1085,#ff4b37,#e5920a ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.dropdown-item{
  color:#ffffff;
  font-family: 'Open Sans Condensed',sans-serif;
  font-weight: 600;
  font-size: 14px;
}
.dropdown-item:hover{
  background: #ffb3b3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ff1085,#ff4b37,#e5920a );  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ff1085,#ff4b37,#e5920a ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.iconResponsive{
  display: none;
}
.redes{
  cursor: pointer;
}
.redes:hover{
  color: #bfd000;
}
@media only screen and (max-width: 1000px) {
    .respo{
      display: none;
    }
    .iconResponsive{
      display: block;
      width: 100px;
      height: 100px;
      z-index: 2000;
      margin-right: 50%;
    }
}
@media only screen and (max-width: 1500px) {
    .contenedor{

    }
}
