.color{
  background-color: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 50px;
}
.color h1{
  text-align:center;
  font-family: 'Open Sans Condensed',sans-serif;
  font-weight:600;
  padding-bottom:30px;
}
.color h2{
  text-align:center;
  font-family: 'Open Sans Condensed',sans-serif;
  padding-bottom:30px;
}
form p{
  margin-top: 20px;
  text-align:center;
  font-family: 'Open Sans Condensed',sans-serif;
  font-weight:600;
  padding-bottom:10px;
  color: #666;
}
form input{
  margin-left: 5%;
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  font-size: 12px;
  color: #818181;
  border: 1px solid #818181;
}
form select{
  margin-left: 5%;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 12px;
  color: #818181;
  border: 1px solid #818181;
}
.boton{
  margin-left: 5%;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ccc;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
}
.boton:hover{
  background-color: #f61;
}
form textarea{
  max-height: 250px;
  height: 20vh;
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  font-size: 12px;
  color: #818181;
  border: 1px solid #818181;
}
.enviar{
  margin-left: 45%;
  background-color: #bfd000;
  color: #fff;
  font-weight: 600;
  padding: 20px 30px;
  margin-top: 10px;
  border: none;
  border-radius: 2px;
  margin-top: 20px;
}
.enviar:hover{
  background-color:  #a4b300;
}
.politica{
  color:#bfd000;
  cursor: pointer;
  text-decoration: none;
}
.politica:hover{
  color: #f61;
}

@media only screen and (max-width: 1000px) {
    form input{
      margin-right: 5%;
    }
    form select{
      margin-right: 5%;
    }
    form button{
      margin-right: 5%;
    }
}
