h1 {
  padding-top: 5%;
  text-align: center;
  font-weight: bold;
}

.carousel-item {
  padding: 2% 15% 2% 15%;
  text-align: center;
}

h4 {
  text-transform: uppercase;
  color:#666;
  font-weight: bold;
}

.btn-ludi {
  background-color: #bfd000;
  font-family: 'Open Sans Condensed';
  border: none;
  letter-spacing: 2.7px;
  padding: 3%;
}

.btn-ludi:hover {
  background-color: #A9AE22;
}

img {
  margin: auto;
}

.carousel-indicators li {
  background-color: #bbb;
  height:10px;
  width:10px;
  border-radius: 100%;
  bottom: 0px;
}

.carousel-indicators .active {
  background-color: #000;
}

/* Plus phones (iPhone+, S9+) (phones, 750px and down) */
@media only screen and (max-width: 750px) {
  .carousel-item {
    padding: 2%;
    margin: auto;
  }

  .btn-ludi {
    margin-bottom: 5%;
  }
}
